---
---

@import "minima";

@import url(https://fonts.googleapis.com/css?family=Gudea);

body {
    font-family: Gudea, sans-serif;
    font-size: 16px;
    color: #111;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    /*background-image: url('img/header_repeat2.png');*/
    /*background-repeat: repeat-x;*/
}

p {
    line-height: initial;
}

h1 {
    color: #303236;
    //#margin-bottom: -10px;
    font-weight: bold;
}

 h2 {
     /*color: #394666;*/
     color: #37425d;
     font-size: 22px;
     margin-bottom: -10px;
     font-weight: bold;
     margin: unset;
 }
 
 h3 {
     color: #633739;
      margin-bottom: -10px;
 }
 
 a {
     color: #58A;
 }

 pre code function  {
    text-decoration: none;
    border-bottom: 1px solid #343434;
}

note {
    display:block;
    margin:20px;
    padding:15px;
    background-color: #D8F5D8;
    color: #444;
    border-radius: 5px;
    border: 2px solid #AFDFAF;
}

warning {
    display:block;
    margin:20px;
    padding:15px;
    background-color: #FFD2D2;
    color: #444;
    border-radius: 5px;
    border: 2px solid #E0B3B3;
}

function {
    cursor: pointer;
    border-bottom: 1px solid #c1c1c1;
}

def {
    color: green;
}

fun {
    font-family: "Courier New", Courier, monospace;
    color: #822;
}

var {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #227;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 3px solid #bbb;
}

img.clean {
    border: 0px;
    border-radius: 0px;
}

img.no_radius {
    border-radius: 0px;
}

img.left {
    float: left;
    margin: 10px;
    border: 2px solid #bbb;
    border-radius: 3px;
    margin-right: 20px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

img.small {
    width: 150px;
    height: auto;
}

img.medium {
    width: 300px;
    height: auto;
}

img.large {
    width: 500px;
    height: auto;
}

div.trigger {
    position: absolute;
    left: 150px;
    top: 100px;
}

div.trigger a {
    display: block;
}
