---
---

@import "minima";

note {
    display:block;
    margin:20px;
    padding:15px;
    background-color: #D8F5D8;
    color: #444;
    border-radius: 5px;
    border: 2px solid #AFDFAF;
}

warning {
    display:block;
    margin:20px;
    padding:15px;
    background-color: #FFD2D2;
    color: #444;
    border-radius: 5px;
    border: 2px solid #E0B3B3;
}

function {
    cursor: pointer;
    border-bottom: 1px solid #c1c1c1;
}

def {
    color: green;
}

fun {
    font-family: "Courier New", Courier, monospace;
    color: #822;
}

var {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #227;
}

p code {

}
