<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div style="width: 100%;">
        <div style="float: left;width: 20%;">
          <ol>
            <li><a href="/Introducao">Introdução</a></li>
            <li>
              <span>Iniciando</span>
              <ol>
                <li><a href="/Iniciando/OpenGL">OpenGL</a></li>
                <li><a href="/Iniciando/Criando-uma-janela">Criando uma janela</a></li>
              </ol>
            </li>
          </ol>
        </div>
        <div style="float: left;width: 60%;">
          {{ content }}
        </div>
        <div style="float: right;width: 20%;">
          Este site é uma tradução de <a href="https://learnopengl.com">LeanOpenGL.com</a>
          <img src="/assets/images/logo.png">
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
